body
  .navbar
    margin-bottom 0px
  .navbar-header
    margin-top 5px
  .navbar-brand
    margin-left 10px

#user-preferences
  background-color #FFFFFF

#recipes
  background-color #f7f7f7
  padding-left 0px
  padding-right 0px

#navbar-login
  margin-right 10px

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  top 70px
.toast-success
  background-color #13987e


footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2