.navbar-custom
  background-color #00d4b4
  border-color #00d4b4
  color #ffffff
  border-radius 0
  .navbar-nav
    & > li
      & > a
        color #ffffff
  .navbar-brand
    color #eeeeee

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus
  color #ffffff
  background-color #00d4b4


#user-preferences
  background-color #FFFFFF

#recipes
  background-color #f7f7f7
  padding-left 0px
  padding-right 0px

#navbar-login
  margin-right 10px

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  top 70px
.toast-success
  background-color #13987e

.card-media
  background-color #999999

md-card
  background-color #ffffff

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2