.container
    .row
        h1 Users
        table.table
            tr(ng-repeat="user in users")
                td {{user.firstname + ' ' + user.lastname}}
    .row
        h1 Recipes
        a.btn.btn-default(href="/addrecipe") Add Recipe
        table.table
            tr(ng-repeat="recipe in recipes")
                td {{recipe.name}}
                td {{recipe.difficulty}}
                td {{recipe.season}}
                td {{recipe.meal_type}}
    .row
        h1 Ingredients
        a.btn.btn-default(href="/addingredient") Add Ingredient
        table.table
            tr(ng-repeat="ingredient in ingredients")
                td {{ingredient.name}}
                td {{ingredient.local}}