.container
    .well
        form.form-horizontal(name="recipeForm")
            fieldset
                legend Recipe Creation
                .form-group
                    label.col-md-2.control-label(for="name") Name
                    .col-md-10
                        input.form-control(name="name", type="text", placeholder="Recipe Name", ng-model="name", required)
                .form-group
                    label.col-md-2.control-label(for="description") Description
                    .col-md-10
                        input.form-control(name="description", type="text", placeholder="Description", ng-model="description", required)
                .form-group
                    .form-group
                        .radio
                            label
                                input(type='radio', value='easy', checked="checked")
                                | &nbsp; Easy
                        br
                        .radio
                            label
                                input(type='radio', value='medium')
                                | &nbsp; Medium
                        br
                        .radio
                            label
                                input(type='radio', value='hard')
                                | &nbsp; Hard
                .form-group
                    label.col-md-2.control-label(for="equipment") Equipment Required
                    .col-md-10
                        input.form-control(name="equipment", type="text", placeholder="Comma separated equipment list", ng-model="equipment")
                .form-group
                    label.col-md-2.control-label(for="ingredients") Ingredients
                    .col-md-10
                        input.form-control(name="ingredients", type="text", placeholder="Comma separated ingredient list", ng-model="ingredient")
                .form-group
                    .checkbox
                        label
                            input(type='checkbox', value='winter')
                            | &nbsp; Winter
                    br
                    .checkbox
                        label
                            input(type='checkbox', value='spring')
                            | &nbsp; Spring
                    br
                    .checkbox
                        label
                            input(type='checkbox', value='summer')
                            | &nbsp; Summer
                    br
                    .checkbox
                        label
                            input(type='checkbox', value='fall')
                            | &nbsp; Fall
                .form-group
                    .checkbox
                        label
                            input(type='checkbox', value='breakfast')
                            | &nbsp; Breakfast
                    br
                    .checkbox
                        label
                            input(type='checkbox', value='lunch')
                            | &nbsp; Lunch
                    br
                    .checkbox
                        label
                            input(type='checkbox', value='dinner')
                            | &nbsp; Dinner
                    br
                    .checkbox
                        label
                            input(type='checkbox', value='snacks')
                            | &nbsp; Snacks
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-default(ng-click="addrecipe()", ng-disabled="signupForm.$invalid") Submit
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel