.container
    .well
        form#recipeCreationForm.form-horizontal(name="recipeCreationForm")
            fieldset
                // Form Name
                legend Recipe Creation
                // Text input
                .form-group
                    label.col-md-4.control-label(for='recipe-name') Name
                    .col-md-4
                        input#recipe-name.form-control.input-md(name='recipe-name', type='text', placeholder='name', ng-model="name", required)
                        span.help-block Name of recipe
                // Text input
                .form-group
                    label.col-md-4.control-label(for='recipe-summary') Summary
                    .col-md-4
                        input#recipe-summary.form-control.input-md(name='recipe-summary', type='text', placeholder='summary', ng-model="summary", required)
                        span.help-block Summary of recipe
                // Text input
                .form-group
                    label.col-md-4.control-label(for='recipe-img_url') Image Link
                    .col-md-4
                        input#recipe-img_url.form-control.input-md(name='recipe-img_url', type='text', placeholder='http://image url', ng-model="img_url", required)
                        span.help-block Image Link
                // Textarea
                .form-group
                    label.col-md-4.control-label(for='recipe-description') Description
                    .col-md-4
                        textarea#recipe-description.form-control(name='recipe-description', ng-model="description") Description of recipe including instructions
                // Multiple Radios
                .form-group
                    label.col-md-4.control-label(for='difficulty-radios') Difficulty
                    .col-md-4
                        .radio
                            label(for='difficulty-radios-0')
                                input#difficulty-radios-0(type='radio', name='radios', value='Easy', ng-model="difficulty.value")
                                |       Easy
                        .radio
                            label(for='difficulty-radios-1')
                                input#difficulty-radios-1(type='radio', name='radios', value='Medium', ng-model="difficulty.value")
                                |       Medium
                        .radio
                            label(for='difficulty-radios-2')
                                input#difficulty-radios-2(type='radio', name='radios', value='Hard', ng-model="difficulty.value")
                                |       Hard
                // Text input
                .form-group
                    label.col-md-4.control-label(for='ingredient-list') Ingredients
                    .col-md-4
                        input#ingredient-list.form-control.input-md(name='ingredient-list', type='text', placeholder='ingredients', ng-model="ingredients", required)
                        span.help-block Comma separated list of ingredients
                // Text input
                .form-group
                    label.col-md-4.control-label(for='equipment-list') Equipment
                    .col-md-4
                        input#equipment-list.form-control.input-md(name='equipment-list', type='text', placeholder='equipment required', ng-model="equipment" required)
                        span.help-block Comma separated list of equipment
                // Multiple Checkboxes
                .form-group
                    label.col-md-4.control-label(for='mealtype-checkboxes') Meal Type
                    .col-md-4
                        .checkbox
                            label(for='mealtype-checkboxes-0')
                                input#mealtype-checkboxes-0(type='checkbox', name='mealtype-checkboxes-0', value='breakfast', ng-model="mealtype.breakfast", ng-true-value="'Breakfast'" ng-false-value="''")
                                |       Breakfast
                        .checkbox
                            label(for='mealtype-checkboxes-1')
                                input#mealtype-checkboxes-1(type='checkbox', name='mealtype-checkboxes-1', value='lunch', ng-model="mealtype.lunch", ng-true-value="'Lunch'" ng-false-value="''")
                                |       Lunch
                        .checkbox
                            label(for='mealtype-checkboxes-2')
                                input#mealtype-checkboxes-2(type='checkbox', name='mealtype-checkboxes-2', value='dinner', ng-model="mealtype.dinner", ng-true-value="'Dinner'" ng-false-value="''")
                                |       Dinner
                        .checkbox
                            label(for='mealtype-checkboxes-3')
                                input#mealtype-checkboxes-3(type='checkbox', name='mealtype-checkboxes-3', value='snacks', ng-model="mealtype.snacks", ng-true-value="'Snacks'" ng-false-value="''")
                                |       Snacks
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-left
                            button.btn.btn-default(ng-click="create()", ng-disabled="recipeCreationForm.$invalid") Create
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel