md-content.md-padding(layout-xs='column', layout='row')
    div(flex-xs='', flex-gt-xs='50', layout='column', ng-repeat="recipe in (recipes | filter:filterRecipe)")
        a.view-recipe-link(href="/viewrecipe/{{recipe._id}}")
            md-card
                md-card-title
                    md-card-title-text
                        span.md-headline {{recipe.name}}
                        i {{recipe.summary}}
                        br
                        p Difficulty: {{recipe.difficulty}}
                        p Meal Type: {{recipe.meal_type}}
                    md-card-title-media
                        img#recipe-image(src='{{recipe.img_url}}')