.pull-right
    md-card
        md-card-title
            md-card-title-text
                form.form-inline
                    p Your location
                    p {{location}}
                        .form-group
                        button.btn-custom-include.btn(ng-click="changeLocation()") Change
    md-card
        md-card-title
            md-card-title-text
                form.form-inline
                    p Search Ingredients
                        .form-group
                        input.form-control(ng-model="searchText", placeholder="Ingredients")
                    p Ingredient Suggestions
                        .form-group
                        button.btn-custom-include.btn Mongoose
                        button.btn-custom-include.btn Salt
    md-card
        md-card-title
            md-card-title-text
                form.form-inline
                    p Omitted Ingredients
                        .form-group
                        button.btn-custom-exclude.btn Butter
                        button.btn-custom-exclude.btn Milk
                        button.btn-custom-exclude.btn Chicken
                        button.btn-custom-exclude.btn Ice
    md-card
        md-card-title
            md-card-title-text
                form.form-inline
                    p Search Equipment
                        .form-group
                        input.form-control(ng-model="searchText", placeholder="Equipment")
                    p Your Equipment
                        .form-group
                        button.btn-custom-include.btn Pan
                        button.btn-custom-include.btn Oven
    md-card
        md-card-title
            md-card-title-text
                    p Meal Type
                        .form-group
                            .checkbox
                                label
                                    input(type='checkbox', value='breakfast')
                                    | &nbsp; Breakfast
                            .checkbox
                                label
                                    input(type='checkbox', value='lunch')
                                    | &nbsp; Lunch
                            .checkbox
                                label
                                    input(type='checkbox', value='dinner')
                                    | &nbsp; Dinner
                            .checkbox
                                label
                                    input(type='checkbox', value='snacks')
                                    | &nbsp; Snacks
    md-card
        md-card-title
            md-card-title-text
                    p Skill Level
                        .form-group
                            .checkbox
                                label
                                    input(type='checkbox', value='easy')
                                    | &nbsp; Easy
                            .checkbox
                                label
                                    input(type='checkbox', value='medium')
                                    | &nbsp; Medium
                            .checkbox
                                label
                                    input(type='checkbox', value='hard')
                                    | &nbsp; Hard
