.pull-right
    md-card
        md-card-title
            md-card-title-text
                form.form-inline
                    p Your Location
                    p {{location}}
                        .form-group
                        button.btn-custom-include.btn(ng-click="changeLocation()") Change
    md-card
        md-card-title
            md-card-title-text
                form
                    p Search Ingredients
                        .form-group
                        input.form-control(type='text', autocomplete='true', ng-model='ingredientInput', placeholder='Ingredients', typeahead='ingredients', typeahead-callback='filterIngredients')
                    p Ingredient Suggestions
                        br
                        ng-form(data-ng-repeat="suggestion in suggestions")
                            button.btn-custom-include.btn(ng-click="removeSuggestion(suggestion)") {{suggestion}}
    md-card
        md-card-title
            md-card-title-text
                form.form-inline
                    p Exclude Ingredients
                        .form-group
                        input.form-control(type='text', autocomplete='false', ng-model='omitInput', placeholder='Ingredients', typeahead='ingredients', typeahead-callback='filterOmitted')
                    p Excluded Ingredients
                        br
                        ng-form(data-ng-repeat="o in omitted")
                            button.btn-custom-exclude.btn(ng-click="removeOmitted(o)") {{o}}
    md-card
        md-card-title
            md-card-title-text
                form.form-inline
                    p Equipment
                        .form-group
                        input.form-control(type='text', autocomplete='false', ng-model='equipmentInput', placeholder='Equipment', typeahead='equipment', typeahead-callback='filterEquipment')
                    p Exclude Equipment
                        br
                        ng-form(data-ng-repeat="e in excludeequipment")
                            button.btn-custom-exclude.btn(ng-click="removeEquipment(e)") {{e}}
    md-card
        md-card-title
            md-card-title-text
                .form-group
                    p Meal Type
                        .checkbox
                            label(for='mealtype-checkboxes-0')
                                input#mealtype-checkboxes-0(type='checkbox', ng-model="mealtypeCheck.breakfast", ng-change='updateMealtype()')
                                |       Breakfast
                        .checkbox
                            label(for='mealtype-checkboxes-1')
                                input#mealtype-checkboxes-1(type='checkbox', ng-model="mealtypeCheck.lunch", ng-change='updateMealtype()')
                                |       Lunch
                        .checkbox
                            label(for='mealtype-checkboxes-2')
                                input#mealtype-checkboxes-2(type='checkbox', ng-model="mealtypeCheck.dinner", ng-change='updateMealtype()')
                                |       Dinner
                        .checkbox
                            label(for='mealtype-checkboxes-3')
                                input#mealtype-checkboxes-3(type='checkbox', ng-model="mealtypeCheck.snacks", ng-change='updateMealtype()')
                                |       Snacks
    md-card
        md-card-title
            md-card-title-text
                .form-group
                    p Difficulty
                        .checkbox
                            label(for='difficulty-checkboxes-0')
                                input#difficulty-checkboxes-0(type='checkbox', ng-model="difficultyCheck.easy", ng-change='updateDifficulty()')
                                |       I can make cereal
                        .checkbox
                            label(for='difficulty-checkboxes-1')
                                input#difficulty-checkboxes-1(type='checkbox', ng-model="difficultyCheck.medium", ng-change='updateDifficulty()')
                                |       Average
                        .checkbox
                            label(for='difficulty-checkboxes-2')
                                input#difficulty-checkboxes-2(type='checkbox', ng-model="difficultyCheck.hard", ng-change='updateDifficulty()')
                                |       Iron Chef
