md-content.md-padding(layout-xs='column', layout='row')
    div(flex-xs='', flex-gt-xs='50', layout='column')
            md-card
                md-card-title
                    md-card-title-text
                        span.md-headline {{recipe.name}}
                        br
                        p Description: {{recipe.description}}
                        p Difficulty: {{recipe.difficulty}}
                        p Season: {{recipe.season}}
                        p Meal Type: {{recipe.meal_type}}
                    md-card-title-media
                        .md-media-lg.card-media