md-content.md-padding(layout-xs='column', layout='row')
    div(flex-xs='', flex-gt-xs='50', layout='column')
            md-card
                md-card-title
                    md-card-title-text
                        h1 {{recipe.name}}
                        i {{recipe.summary}}
                        br
                        h4 Description
                        p {{recipe.description}}
                        h4 Ingredients
                        p {{recipe.ingredients}}
                        h4 Difficulty
                        p {{recipe.difficulty}}
                        h4 Season
                        p {{recipe.season}}
                        h4 Meal Type
                        p {{recipe.meal_type}}
                    md-card-title-media
                        img#recipe-image(src='{{recipe.img_url}}')