script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js')
script(type="text/javascript", src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js')
script(type="text/javascript", src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js')
script(type="text/javascript", src='http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js')
script(type="text/javascript", src="/vendor/js-cookie/src/js.cookie.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/mCookies.js")
script(type="text/javascript", src="/app/main/mainController.js")
script(type="text/javascript", src="/app/recipe/mRecipeCtrl.js")
script(type="text/javascript", src="/app/recipe/mRecipeAPI.js")
script(type="text/javascript", src="/app/recipe/mRecipe.js")
script(type="text/javascript", src="/app/ingredient/mIngredientCtrl.js")
script(type="text/javascript", src="/app/ingredient/mIngredientAPI.js")
script(type="text/javascript", src="/app/ingredient/mIngredient.js")
script(type="text/javascript", src="/app/account/mLoginCtrl.js")
script(type="text/javascript", src="/app/account/mIdentity.js")
script(type="text/javascript", src="/app/account/mAuth.js")
script(type="text/javascript", src="/app/account/mUser.js")
script(type="text/javascript", src="/app/common/mNotifier.js")
script(type="text/javascript", src="/app/admin/mAdminCtrl.js")
script(type="text/javascript", src="/app/account/mSignupCtrl.js")
script(type="text/javascript", src="/app/account/mProfileCtrl.js")
script(type="text/javascript", src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js')