.container
    .well
        form#ingredientCreationForm.form-horizontal(name="ingredientCreationForm")
            fieldset
                // Form Name
                legend Ingredient Creation
                // Text input
                .form-group
                    label.col-md-4.control-label(for='ingredient-name') Name
                    .col-md-4
                        input#ingredient-name.form-control.input-md(name='ingredient-name', type='text', placeholder='name', ng-model="name", required)
                        span.help-block Name of ingredient
                // Text input
                .form-group
                    label.col-md-4.control-label(for='ingredient-local') Local
                    .col-md-4
                        input#ingredient-local.form-control.input-md(name='ingredient-local', type='text', placeholder='local', ng-model="local", required)
                        span.help-block Ingredient local to
                // Multiple Checkboxes
                .form-group
                    label.col-md-4.control-label(for='season-checkboxes') Season
                    .col-md-4
                        .checkbox
                            label(for='season-checkboxes-0')
                                input#season-checkboxes-0(type='checkbox', name='season-checkboxes-0', value='winter', ng-model="season.winter", ng-true-value="'Winter'" ng-false-value="''")
                                |       Winter
                        .checkbox
                            label(for='season-checkboxes-1')
                                input#season-checkboxes-1(type='checkbox', name='season-checkboxes-1', value='spring', ng-model="season.spring", ng-true-value="'Spring'" ng-false-value="''")
                                |       Spring
                        .checkbox
                            label(for='season-checkboxes-2')
                                input#season-checkboxes-2(type='checkbox', name='season-checkboxes-2', value='summer', ng-model="season.summer", ng-true-value="'Summer'" ng-false-value="''")
                                |       Summer
                        .checkbox
                            label(for='season-checkboxes-3')
                                input#season-checkboxes-3(type='checkbox', name='season-checkboxes-3', value='fall', ng-model="season.fall", ng-true-value="'Fall'" ng-false-value="''")
                                |       Fall
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-left
                            button.btn.btn-default(ng-click="create()", ng-disabled="ingredientCreationForm.$invalid") Create
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel
