.container-fluid
    #user-preferences.col-xs-3
        b Your Preferences
        #user-preferences-list(ng-include="'/partials/recipe/user'")

    #recipes.col-xs-9
        #recipes-list(ng-include="'/partials/recipe/recipes'")