#location-modal.modal.fade(ng-init="initLocation()", tabindex='-1', role='dialog', aria-labelledby='user-location-modal')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h4#user-location-modal.modal-title Please enter your location
            .modal-body
                #map
                p Latitude: {{latitude}} Longitude: {{longitude}}
            .modal-footer.text-center
                p &copy; 2016 Null Pointer Solutions
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                button.btn.btn-custom-include(type='button', data-dismiss='modal', ng-click="closeMap()") Save changes

#mtfm-header.container-fluid
    h3 Meals for you, Meals for the moment.
    p Refine your suggested recipes with your ingredients, kitchen equipment, meal type, and skill level!

.container-fluid
    #user-preferences.col-xs-4
        #user-preferences-list(ng-init="initPreferences()", ng-include="'/partials/recipe/user'")
    #recipes.col-xs-8
        #recipes-list(ng-include="'/partials/recipe/recipes'")